*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
    height: 100vh;
}
.titulo{
    display: flex;
    justify-content: center;
}
.botones{
    display: flex;
    justify-content: space-evenly;
    margin-top: 30%;
    height: 50%;
}
.si{
    position: absolute;
    transition: 1s;
    width: 20%;
    left: 20%;
   height: 5%;
}
.no{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
   position: relative;
   border: solid black 1px;
   text-decoration: none;
   left: 20%;
    width: 20%;
    height: 10%;
}
.ethel{
    position: absolute;
    
    opacity: .5;
}